body {
    background-image: url("/assets/img/background.jpg");
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
}

.my-icon {
    width: 77px;
    height: 77px;
    padding-right: 20px;
}

.card-body {
    background-color: rgb(39, 37, 37);
    color: white;
}

.card {
	width: 365px;
}

#burger_container {
    margin-right: 50px;
}
